@charset "UTF-8";
/* Slider */
/* line 4, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 25, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 35, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-list:focus {
  outline: none;
}

/* line 39, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 46, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 55, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

/* line 64, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

/* line 70, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-track:after {
  clear: both;
}

/* line 74, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 79, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

/* line 87, /home/juanma/lorena/vendor/assets/slick/slick.css */
[dir='rtl'] .slick-slide {
  float: right;
}

/* line 91, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-slide img {
  display: block;
}

/* line 95, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-slide.slick-loading img {
  display: none;
}

/* line 99, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 103, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-initialized .slick-slide {
  display: block;
}

/* line 107, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 111, /home/juanma/lorena/vendor/assets/slick/slick.css */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* Slider */
/* line 4, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-loading .slick-list {
  background: white url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}

/* Arrows */
/* line 21, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

/* line 46, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

/* line 55, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

/* line 60, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25;
}

/* line 66, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 79, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-prev {
  left: -25px;
}

/* line 83, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}

/* line 88, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-prev:before {
  content: '←';
}

/* line 92, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
[dir='rtl'] .slick-prev:before {
  content: '→';
}

/* line 97, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-next {
  right: -25px;
}

/* line 101, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}

/* line 106, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-next:before {
  content: '→';
}

/* line 110, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
[dir='rtl'] .slick-next:before {
  content: '←';
}

/* Dots */
/* line 116, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-slider {
  margin-bottom: 30px;
}

/* line 121, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-dots {
  position: absolute;
  bottom: -45px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

/* line 135, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

/* line 148, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

/* line 167, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

/* line 172, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

/* line 176, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 198, /home/juanma/lorena/vendor/assets/slick/slick-theme.css */
.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black;
}

/* line 5, /home/juanma/lorena/app/assets/stylesheets/application.css.scss */
.scroller div {
  text-align: center;
  font-size: 30px;
}
