<<<<<<< HEAD
<div class=''>
  <div class=''>

  </div>
  <div id='gallery' class=''>
=======
<div class='uk-grid'>
  <div class='uk-width-1-4'>
    <%= render partial: 'pages/partials/index', locals: { pages: @pages } %>
  </div>
  <div id='gallery' class='uk-width-3-4'>
>>>>>>> 14b71980cc4a76beb50936559ee8e81462417521
  </div>
</div>
