<% pages = Page.all %>
<ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
  <% if pages.any? %>
    <% pages.each do |page| %>
      <li class="uk-parent uk-nav-header uk-nav-divider"><%= link_to page.name, '#' %>
      <% if page.galleries.any? %>
        <ul class="uk-nav-sub">
          <% page.galleries.each do |gallery| %>
            <li><%= link_to gallery.name, page_gallery_path(page,gallery), remote: true %></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
<div id='show'></div>



