<script>
  $(function() {
    imagesLoaded( '#container', function() {
      var msnry = new Masonry( '#container' );
    });
  });
</script>

<div id="container"> 
  <% @gallery.photos.each do |photo| %>
    <div class='item'>
      <%= image_tag photo.file.url, alt: photo.name, class: 'photo' %>
      <%#= fa_icon 'thumbs-o-up' %>
      <%#= fa_icon 'twitter-square' %>
    </div>
  <% end %>
</div>

