<script>
  $(function() {
    imagesLoaded( '#container', function() {
      var msnry = new Masonry( '#container' );
    });
  });
</script>

<div id="container"> 
  <% @gallery.photos.each do |photo| %>
    <div class='item' style="width: 200px">
      <%= image_tag photo.file.url, alt: photo.name, class: 'photo' %>
    </div>
  <% end %>
</div>

