<div id='header' class='uk-grid'>   
  <div id='logo' class='uk-width-1-3'>
    <img src="http://placehold.it/320x48">
  </div>
  <div id='algo' class='uk-width-1-3'>
  </div>
  <div id='account_menu' class='uk-width-1-3 account_menu'>
    <%= fa_icon 'sign-out 2x' %>
    <%= fa_icon 'cog 2x' %>
    <%= fa_icon 'sign-in 2x' %>
  </div>
</div>
